.p-5 {padding:5px;}
.mx-auto {margin-left:auto;margin-right:auto;}
.my-auto {margin-top:auto;margin-bottom: auto;}
.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}
.my-5 {margin-top:5px;margin-bottom:5px;}
.my-10 {margin-top:10px;margin-bottom:10px;}

.mt-0 {margin-top:0;}
.mb-0 {margin-bottom:0;}
.mr-5 {margin-right:5px;}
.ml-5 {margin-left:5px;}
.mb-5 {margin-bottom:5px;}
.mr-10 {margin-right:10px;}
.mb-10 {margin-bottom:10px;}
.pl-5 {padding-left:5px;}

.tl {font-size: large}

.center {
	position: relative;
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

.left {
	position: absolute;
	margin-left: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.circle {
	border-radius: 50%;
}

.large {
	font-size: 24px;
}

.bold {font-weight:bold;}

.Feed {
	display: flex;
	width:100%;
	padding-left: 20px;
	padding-right: 20px;
	flex-direction: column;
	margin-left:20px;
	margin-right:20px;
	max-width: 600px;
}

.Box {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	overflow-wrap: break-word;
	background: #101010;
	padding: 15px 20px 10px 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #101010;
}

.not-found {
	margin-top: 15%;
	text-align: center;
}

.Line {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Navigation {
	background: #101010;
	box-shadow: 0px 0px 5px #101010;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dropdown-item:hover {
	background: #ee531a;
}

.nav-buttons {
	display: flex;	
}

.react-icons {
	color: white;
}

.icon-btn {
	margin: 10px;
}

.text-links {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.text-links:hover {
	color: #D3D3D3;
	transition: 0.1s;
}

.error-message{
	font-weight: bold;
	color: #ee531a;
}

a {text-decoration: none;color: white;}
a:visited {color: white;}

h1 {
	margin: 0;
}

button {
	background: none;
	border: none;
}

.abutton {
	border-radius: 20px;
	border-style: none;
	padding: 15px;
	font-size: large;
	transition: 0.2s;
	background-color: #ee531a;
}

.abutton:hover {
	background-color: coral; 
}

.abutton:active {
	background-color: white;
}

input {
	color: white;
	border-radius: 20px;
	border-style: none;
	font-size: large;
	background-color: #060606;
	padding: 15px 20px;
	transition: 0.2s;
}

input:focus {
	background-color: #090909;
	outline: none;
}
