.p-5 {padding:5px;}
.mx-auto {margin-left:auto;margin-right:auto;}
.my-auto {margin-top:auto;margin-bottom: auto;}
.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}
.my-5 {margin-top:5px;margin-bottom:5px;}
.my-10 {margin-top:10px;margin-bottom:10px;}

.mt-0 {margin-top:0;}
.mb-0 {margin-bottom:0;}
.ml-5 {margin-left:5px;}
.mb-5 {margin-bottom:5px;}
.pl-5 {padding-left:5px;}

.center {
	position: relative;
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

.left {
	position: absolute;
	margin-left: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.large {
	font-size: 24px;
}

.bold {font-weight:bold;}

.Feed {
	display: flex;
	width:100%;
	padding-left: 20px;
	padding-right: 20px;
	flex-direction: column;
	margin-left:20px;
	margin-right:20px;
	max-width: 600px;
}

.Box {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	overflow-wrap: break-word;
	background: #101010;
	padding: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 20px;
	box-shadow: 0px 0px 5px #101010;
}

.Line {
	display: flex;
	flex-direction:row;
	width: 100%
}

.Navigation {
	background: #101010;
	box-shadow: 0px 0px 5px #101010;
}

a {
	text-decoration: none;
}


button {
	border-radius: 20px;
	border-style: none;
	padding: 15px;
	font-size: large;
	transition: 0.2s;
	background-color: #ee531a;
}

button:hover {
	background-color: coral; 
}

button:active {
	background-color: white;
}

input {
	color: white;
	border-radius: 20px;
	border-style: none;
	font-size: large;
	background-color: #060606;
	padding: 15px 20px;
	transition: 0.2s;
}

input:focus {
	background-color: #090909;
	outline: none;
}
