html, body {
	height: 100%;
}

.container {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 450px;
	display: flex;
	justify-content: center;
	row-gap: 10px;	
	flex-direction: column;
	padding: 20px;
	border-radius: 20px;
	background-color: #101010;
	text-align: center;
}

.SignInForm {
	display: flex;
	row-gap: 10px;
	flex-direction: column;
}
 
