.NavButton {
	padding: 10px;
	font-size: 25px;
	font-weight: bold;
	border-bottom: 2px solid transparent;
	color: white;
	transition: 0.1s;
}

.NavButton:hover {
	color:grey;
}

.Focused {
	border-color: coral;
	transition: 1s;
}
